body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  text-align: center;
  margin-bottom: 35px;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  border-radius: 8px;
  background-color: rgb(201, 243, 229);
  padding: 15px;
  margin: 20px;
  -webkit-box-shadow: -8px 4px 13px 0px #000000; 
  box-shadow: -8px 4px 13px 0px #000000;  
}

.card img {
  height: 200px;
  border-radius: 3px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button, input[type=submit] {
  cursor: pointer;
  height: 30px;
  border-radius: 6px;
  border: none;
  -webkit-box-shadow: 0px 4px 7px 0px #000000; 
  box-shadow: 0px 4px 7px 0px #000000; 
  background-color: rgb(6, 52, 37);
  color: rgb(201, 243, 229);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  width: 100px;
  margin-top: 15px;
}

button:hover, input[type=submit]:hover {
  background-color: rgb(201, 243, 229);
  color: rgb(6, 52, 37);
  
}

fieldset {
  border: 2px solid grey;
  border-radius: 4px;
  width: 300px;
  margin: 15px;
  padding: 15px;
}

fieldset legend {
  background: #CCA383;
  padding: 6px;
  font-weight: bold;
  }

input[type=text], [type=password], [type=email]  {
  margin: 10px;
  padding: 8px;
}

label {
  width: 90px;
  display: inline-block;
}
